name: Build

on:
  push:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: xuxiaocheng0201/dfg
          token: ${{ secrets.GH_TOKEN }}
          ref: f7985c61713a3b9a19a81ba3ff0067adaa56afe3

      - name: Check rust version
        run: rustc --version

      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./target/
          key: dfg-release-windows-x86_64

      - name: Build
        run: cargo build --release

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          path: target/release/dfg.exe
