name: Build

on:
  push:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: xuxiaocheng0201/dfg
          token: ${{ secrets.GH_TOKEN }}
          ref: f8b29d78c13b0370e30c141cf23485a8942b5ca8

      - name: Check rust version
        run: rustc --version

      - name: Build
        run: cargo build --release

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          path: target/release/dfg.exe
